html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

}

.card {
  border-radius: 0 !important;
  background-color: white !important;
}

#title {
  background-color: #ff4c68;
  background-image: url(images/gradient-coral.jpg);
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;

}

body {
  font-family: "Montserrat";
}

/* Heading */

.big-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

#title .container-fluid {
  padding: 3% 7%;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* About */

#about {
  /* text-align: center; */

  background-color: #fff;
}

#abt-img {
  width: 50%;
  border-radius: 100% !important;
}

.abt-desc {
  color: #8f8f8f;

  font-size: 1.15em;
}

/* Projects */

#projects {
  background-color: #8f8f8f;
}

/* Skills */

#skills {
  background-color: #fff;
  text-align: center;
}

.skill-icon {
  font-size: 5em;
  color: #8f8f8f;

}

.skill-icon:hover {
  color: #ff4c68;
}

/*Contact*/
.hire-btn {
  padding: 0.75em 3em !important;
  font-weight: bolder !important;
  font-size: 1.5em;
  color: #17a2b8 !important;
}


/* Footer */

#footer {
  text-align: center;
}

.footer-icon {
  margin: 10px 5px;
}

.footer-copyright {
  color: grey;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    padding-top: 10px;
  }

  #title {
    text-align: center;
  }
}


/* Font */
font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;
/* Font */
